#list_refs ul {
    list-style-type: none
}

#list_scenarios ul {
    list-style-type: none
}

#list_control ul {
    list-style-type: none
}

#list_objects ul {
    list-style-type: none
}

#list_classes ul {
    list-style-type: none
}

#list_files ul {
    list-style-type: none
}
